// 搜尋列
.search-bar {
  box-shadow: var(--shadow-header);
  display: flex;
  align-items: center;
  padding: 15px;
  @include mediaQuery-pc {
    box-shadow: none;
    padding: 0;
  }
  &__logo {
    flex-shrink: 0;
    margin-right: 15px;
  }
  &__input {
    flex: 1;
  }
}
// logo圖片
.svg-logo {
  width: 96px;
  height: 40px;
  @include mediaQuery-tablet {
    width: 132px;
    height: 55px;
  }
}
// 輸入框
.input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  background-color: var(--gray);
  color: var(--blue);
  &::-webkit-input-placeholder {
    color: var(--gray-light);
  }
  &::-moz-placeholder {
    color: var(--gray-light);
  }
  &:-ms-input-placeholder {
    color: var(--gray-light);
  }
  &::-ms-input-placeholder {
    color: var(--gray-light);
  }
  &::placeholder {
    color: var(--gray-light);
  }
}
// 公車資訊卡片
.card-info {
  border-radius: 6px;
  &__title {
    color: var(--blue);
    margin-bottom: 5px;
  }
  &__middle-text {
    margin: 0 15px;
    color: var(--blue);
  }
  &:nth-child(even) {
    background-color: var(--gray);
  }
}
// 按鈕
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue);
  border-radius: 9px;
  padding: 10px 5px;
  cursor: pointer;
  &--small-text {
    font-size: 1.4rem;
  }
  &--selected {
    background-color: var(--blue);
    color: var(--black);
  }
  &:not(label):active {
    background-color: var(--light-blue);
  }
}
