html {
  height: 100%;
}
body {
  position: relative;
  font-family: 'Noto Sans TC', sans-serif;
  min-height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--black);
  color: var(--white);
  // 選用的背景圖
  // background-image: url(../images/home.jpg);
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: cover;
  // background-color: rgba(0, 0, 0, 0.5);
  // background-blend-mode: multiply;
}

section {
  padding: 12px 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}

a {
  display: inline-block;
}

/* Hovers */
@media (hover: hover) {
  .scale {
    transform: scale(1);
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  .svg-t {
    transition: fill 0.5s;
  }
  .svg-x {
    transition: fill 0.5s;
  }
  .link:hover {
    .svg-t {
      fill: red;
    }
  }
  .button {
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: var(--blue);
      color: var(--black);
      .svg-x {
        fill: var(--black);
      }
    }
  }
}
