html {
  height: 100%;
}
body {
  position: relative;
  font-family: 'Noto Sans TC', sans-serif;
  min-height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
}

section {
  padding: 12px 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}

a {
  display: inline-block;
}

/* 主題切換功能 */
.theme-1 {
  --main-color: var(--yellow);
  --main-light-color: var(--light-yellow);
}
.theme-2 {
  --main-color: var(--blue);
  --main-light-color: var(--light-blue);
}
.theme-3 {
  --main-color: var(--red);
  --main-light-color: var(--light-red);
}
.theme-4 {
  --main-color: var(--purple);
  --main-light-color: var(--light-purple);
}
.theme-5 {
  --main-color: var(--orange);
  --main-light-color: var(--light-orange);
}
.theme-6 {
  --main-color: var(--green);
  --main-light-color: var(--light-green);
}

/* Hovers */
@media (hover: hover) {
  .scale {
    transform: scale(1);
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  .svg-t {
    transition: fill 0.5s;
  }
  .svg-x {
    transition: fill 0.5s;
  }
  .link:hover {
    .svg-t {
      fill: var(--white);
    }
  }
  .button {
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: var(--main-color);
      color: var(--black);
      .svg-x {
        fill: var(--black);
      }
    }
  }
}
