/*
===================
  首頁元件（Home）
===================
*/
.main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  background-image: var(--black-gray-linear);
}
.logo {
  position: absolute;
  top: 25px;
  left: 20px;
  @include mediaQuery-tablet {
    top: 45px;
    left: 45px;
  }
  @include mediaQuery-pc {
    top: 60px;
    left: 60px;
  }
}
// 首頁 svg logo
.hoem-svg-logo {
  width: 144px;
  height: 60px;
  @include mediaQuery-tablet {
    width: 210px;
    height: 87px;
  }
  @include mediaQuery-pc {
    width: 245px;
    height: 102px;
  }
}
// 導覽按鈕（全域設定）
.nav-item {
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    &--left-side {
      transform: translate(-80%, -50%);
      @include mediaQuery-pc {
        transform: translate(-50%, -50%);
      }
    }
    &--right-side {
      transform: translate(-20%, -50%);
      @include mediaQuery-pc {
        transform: translate(-50%, -50%);
      }
    }
  }
  &__icon {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }
}
.nav-nearby-station {
  position: absolute;
  top: 160px;
  right: -70px;
  @include mediaQuery-pc {
    right: 40px;
  }
}
// 導覽按鈕（查詢公車）
.nav-search-local-bus {
  position: absolute;
  top: 380px;
  right: -70px;
  color: var(--black);
  @include mediaQuery-pc {
    right: 35px;
  }
}
// 導覽按鈕（查詢客運）
.nav-search-global-bus {
  position: absolute;
  left: -90px;
  bottom: -50px;
  color: var(--black);
  @include mediaQuery-pc {
    left: auto;
    right: 415px;
    bottom: -70px;
  }
}
// 著作文字
.copyright {
  position: absolute;
  font-size: 1.2rem;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  a {
    display: inline-block;
    color: var(--blue);
  }
  @include mediaQuery-pc {
    right: auto;
    left: 30px;
    bottom: 15px;
  }
}

// 導覽圈圈組件
.circle {
  position: relative;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  &__bg {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  &__inner {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  &--large {
    width: 300px;
    height: 300px;
    @include mediaQuery-tablet {
      width: 350px;
      height: 350px;
    }
  }
  &--medium {
    width: 230px;
    height: 230px;
    @include mediaQuery-tablet {
      width: 280px;
      height: 280px;
    }
  }
  &--small {
    width: 205px;
    height: 205px;
    @include mediaQuery-tablet {
      width: 255px;
      height: 255px;
    }
  }
  &--blue {
    border: 1px solid var(--blue);
  }
  &--blue &__bg {
    background-color: rgba(28, 200, 238, 0.06);
  }
  &--blue &__inner {
    background-image: linear-gradient(149.2deg, #1cc8ee 29.55%, #07738b 78.54%);
    box-shadow: 0px 0px 30px -8px #1cc8ee;
  }
  &--yellow &__bg {
    background-color: rgba(252, 212, 44, 0.07);
  }
  &--yellow &__inner {
    background-image: linear-gradient(206.57deg, #fcd42c 18.7%, #a98b0d 80.04%);
    box-shadow: 0px 0px 30px -8px #fcd42c;
  }
  &--gray &__bg {
    background-color: var(--white);
  }
  &--gray &__inner {
    background-image: none;
    background-color: var(--white);
  }
}

// 裝飾泡泡
.bubble-1 {
  position: absolute;
  top: -43px;
  right: 20px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  @include mediaQuery-pc {
    width: 142px;
    height: 142px;
    right: 290px;
  }
}
// 裝飾泡泡
.bubble-2 {
  position: absolute;
  top: 191px;
  left: -34px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  @include mediaQuery-pc {
    width: 156px;
    height: 156px;
    left: -96px;
    top: 235px;
  }
}
// 裝飾泡泡
.bubble-3 {
  position: absolute;
  top: 378px;
  left: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  @include mediaQuery-pc {
    width: 77px;
    height: 77px;
    top: -39px;
    left: 356px;
  }
}
// 裝飾泡泡
.bubble-4 {
  display: none;
  @include mediaQuery-tablet {
    position: absolute;
    bottom: 60px;
    right: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  }
  @include mediaQuery-pc {
    width: 131px;
    height: 131px;
    bottom: -72px;
    right: 146px;
  }
}
// 裝飾泡泡
.bubble-5 {
  position: absolute;
  top: 490px;
  left: 160px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  @include mediaQuery-pc {
    width: 82px;
    height: 82px;
    left: 313px;
  }
}
// 裝飾泡泡
.bubble-6 {
  display: none;
  @include mediaQuery-pc {
    display: block;
    position: absolute;
    bottom: 280px;
    right: 421px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  }
}
/*
==================================
  搜尋公車元件（SearchLocalBus）
==================================
*/
.search-local-bus {
  .container {
    padding-bottom: 330px;
    @include mediaQuery-pc {
      // padding-bottom: 0;
      padding: 0 15px;
      max-width: 1080px;
      margin: auto;
      display: flex;
      align-items: flex-start;
    }
    &__sidebar {
      @include mediaQuery-pc {
        flex-shrink: 0;
        width: 33%;
        height: 100vh;
        margin-right: 40px;
        padding: 25px 0 75px;
      }
    }
    &__search-result {
      // for loading-overlay
      position: relative;
      padding: 0px 15px 15px;
      &::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: transparent;
      }

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: transparent;
        box-shadow: var(--box-shadow-01);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #555;
        background-color: var(--blue);
      }
      @include mediaQuery-pc {
        width: 67%;
        height: 100vh;
        padding: 25px 0;
        overflow: auto;
      }
    }
  }
  .heading {
    margin-bottom: 15px;
    @include mediaQuery-tablet {
      font-size: 2rem;
    }
  }
  // 提示文字設定
  .hint-text {
    color: var(--red);
  }
  // 搜尋文字設定
  .search-text {
    margin-bottom: 15px;
  }
  .sidebar {
    @include mediaQuery-pc {
      display: flex;
      flex-direction: column;
    }
    &__search-bar {
      margin-bottom: 15px;
    }
    &__pannel {
      // 避免被 search-result 覆蓋
      z-index: 1;
      position: fixed;
      width: 100%;
      padding: 20px;
      bottom: 0;
      background-color: var(--gray);
      @include mediaQuery-tablet {
        padding: 20px 40px;
      }
      @include mediaQuery-pc {
        position: static;
        padding: 20px;
        flex: 1;
      }
    }
  }
  // 面板展開按鈕
  .button-keyboard-switch {
    z-index: 1;
    position: fixed;
    right: 15px;
    bottom: 15px;
    padding: 15px;
    @include mediaQuery-pc {
      display: none;
    }
  }
  // 主面板
  .main-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    .button:nth-child(1) {
      grid-column: 1 / 3;
      margin-bottom: 2px;
      @include mediaQuery-pc {
        grid-column: 1 / 4;
      }
    }
    .button:nth-child(2) {
      grid-column: 3 / 5;
      margin-bottom: 2px;
      @include mediaQuery-pc {
        grid-column: 4 / 6;
      }
    }
    .button:nth-child(3) {
      grid-column: 5 / 6;
      margin-bottom: 2px;
      @include mediaQuery-pc {
        display: none;
      }
    }
  }
  // 選擇縣市面板
  .form-city {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    .button:last-child {
      grid-column: 3 / 6;
    }
  }
  // 更多選項面板
  .more-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    .button:last-child {
      grid-column: 3 / 6;
    }
  }
  // 圖標獨立設定
  .icon-position {
    margin-right: 10px;
  }
  .icon-warn {
    margin-right: 10px;
  }
  .icon-search {
    margin: 0 10px;
  }
}

/*
=============================================
  預估到站時間頁面（EstimatedTimeOfArrival）
=============================================
*/
.estimated-time-of-arrival {
  .container {
    @include mediaQuery-pc {
      max-width: 1080px;
      margin: auto;
    }
  }
  .heading {
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    &__text {
      display: inline-block;
      max-width: 9em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__button-reload {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      transform: translateY(-5px);
      &--disabled {
        color: var(--red);
      }
      @include mediaQuery-tablet {
        transform: translateY(-2.5px);
      }
    }
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // overflow: hidden;
    @include mediaQuery-tablet {
      font-size: 2rem;
    }
  }
  .header {
    padding: 25px 25px 0;
    background-color: var(--black);
  }
  .main-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    &__button-prev,
    &__button-map {
      font-size: 2rem;
      width: 30px;
      height: 30px;
    }
  }
  .direction {
    margin-left: -25px;
    margin-right: -25px;
    @include mediaQuery-tablet {
      display: flex;
      justify-content: space-around;
    }
    &__button {
      position: relative;
      width: 50%;
      padding: 15px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include mediaQuery-tablet {
        width: 41.5365%;
      }
    }
    &__button:hover::after {
      @media (hover: hover) {
        opacity: 1;
      }
    }

    &__button::after {
      opacity: 0;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: var(--blue);
      box-shadow: var(--shadow-button);
      border-radius: 50px;
      transition: opacity 0.3s;
    }
    &__button--current::after {
      opacity: 1;
    }
    &__button::first-letter {
      color: var(--blue);
      margin-right: 5px;
    }
  }
  .content {
    background-color: var(--gray);
    padding: 25px 0;
    @include mediaQuery-tablet {
    }
  }
  .content > .container {
    height: calc(100vh - 236px);
    overflow-y: auto;
    // 不喜歡的話，可改用原本的滾軸模式
    // overflow-y: visible
    // height: auto;
    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: transparent;
      box-shadow: var(--box-shadow-01);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: #555;
      background-color: var(--blue);
    }
    @include mediaQuery-tablet {
      height: calc(100vh - 259px);
      // 不喜歡的話，可改用原本的滾軸模式
      // height: auto;
    }
  }
  .update-msg {
    margin-bottom: 10px;
    padding-right: 15px;
    text-align: right;
  }
  .stops {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 22px;
      width: 1px;
      height: calc(100% - 60px);
      background-color: var(--blue);
      box-shadow: var(--shadow-button);
    }
  }
  .stop {
    position: relative;
    display: flex;
    align-items: center;
    &__status {
      order: -1;
      flex-shrink: 0;
    }
    &__name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: auto;
    }
    &__icon {
      color: var(--blue);
    }
    &__plateNumb {
      color: var(--blue);
      margin-left: 10px;
    }
    &:first-child .stop__dot {
      transform: translateY(0px);
    }
    &:last-child .stop__dot {
      transform: translateY(0px);
    }

    &__dot {
      position: relative;
      z-index: 1;
      width: 15px;
      height: 15px;
      margin-left: 20px;
      border-radius: 50%;
      background-color: var(--black);
      border: 2px solid var(--blue);
      &--on {
        background-color: var(--blue);
        box-shadow: var(--shadow-button);
      }
    }
  }
}

/*
===============================
  附近站牌頁面（SearchNearby）
===============================
*/
.search-nearby {
  .container {
    @include mediaQuery-pc {
      max-width: 1080px;
      margin: auto;
    }
  }
  .header {
    margin-bottom: 25px;
    .heading {
      display: flex;
      align-items: center;
      padding: 15px;
      @include mediaQuery-tablet {
        padding: 25px;
      }
      @include mediaQuery-pc {
        padding: 25px 0;
      }
      &__text {
        margin-left: auto;
        @include mediaQuery-tablet {
          font-size: 2rem;
        }
      }
    }
    &__heading {
      margin-left: auto;
      @include mediaQuery-tablet {
        font-size: 2rem;
      }
    }
  }
  .content {
    padding: 0 15px 15px;
  }
  // 圖標獨立設定
  .icon-position {
    margin-right: 10px;
  }
}
