.container {
  padding-bottom: 330px;
  @include mediaQuery-pc {
    padding-bottom: 0;
    width: 1080px;
    margin: auto;
    display: flex;
    align-items: flex-start;
  }
  &__sidebar {
    @include mediaQuery-pc {
      width: 33%;
      height: 100vh;
      margin-right: 40px;
      padding: 25px 0 75px;
    }
  }
  &__search-result {
    // for loading-overlay
    position: relative;
    padding: 0px 15px 15px;
    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 9px;
      height: 9px;
      background-color: transparent;
      box-shadow: var(--box-shadow-01);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: #555;
    }
    @include mediaQuery-pc {
      width: 67%;
      height: 100vh;
      padding: 25px 0;
      overflow: auto;
    }
  }
}
.heading {
  margin-bottom: 15px;
  @include mediaQuery-tablet {
    font-size: 2rem;
  }
}
// 提示文字設定
.hint-text {
  color: var(--red);
}
// 搜尋文字設定
.search-text {
  margin-bottom: 15px;
}
.sidebar {
  @include mediaQuery-pc {
    display: flex;
    flex-direction: column;
  }
  &__search-bar {
    margin-bottom: 15px;
  }
  &__pannel {
    // 避免被 search-result 覆蓋
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 20px;
    bottom: 0;
    background-color: var(--gray);
    @include mediaQuery-tablet {
      padding: 20px 40px;
    }
    @include mediaQuery-pc {
      position: static;
      padding: 20px;
      flex: 1;
    }
  }
}
// 面板展開按鈕
.button-keyboard-switch {
  z-index: 1;
  position: fixed;
  right: 15px;
  bottom: 15px;
  padding: 15px;
  @include mediaQuery-pc {
    display: none;
  }
}
// 主面板
.main-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  .button:nth-child(1) {
    grid-column: 1 / 3;
    margin-bottom: 2px;
    @include mediaQuery-pc {
      grid-column: 1 / 4;
    }
  }
  .button:nth-child(2) {
    grid-column: 3 / 5;
    margin-bottom: 2px;
    @include mediaQuery-pc {
      grid-column: 4 / 6;
    }
  }
  .button:nth-child(3) {
    grid-column: 5 / 6;
    margin-bottom: 2px;
    @include mediaQuery-pc {
      display: none;
    }
  }
}
// 選擇縣市面板
.form-city {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  .button:last-child {
    grid-column: 3 / 6;
  }
}
// 更多選項面板
.more-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  .button:last-child {
    grid-column: 3 / 6;
  }
}
// 圖標獨立設定
.icon-arrow {
  transform: rotate(180deg);
}
.icon-position {
  margin-right: 10px;
}
.icon-warn {
  margin-right: 10px;
}
.icon-search {
  margin: 0 10px;
}
