.hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -9999;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.text-spacing {
  letter-spacing: 1em;
}
.text-color-main {
  color: var(--main-color);
}
.disabled-link {
  pointer-events: none;
}
.mb-s {
  margin-bottom: 15px;
}
