:root {
  /* Reset 1rem = 10px */
  font-size: 10px;

  /* Basic colors */
  --white: #f5f5f5;
  --black: #131414;
  --red: #f90716;

  /* Project colors */
  --yellow: #fcd42c;
  --light-yellow: rgba(252, 212, 44, 0.5);

  --blue: #1cc8ee;
  --light-blue: rgba(28, 200, 238, 0.5);

  --dark-blue: #10a2f6;
  --light-dark-blue: rgba(16, 162, 246, 0.5);

  --red: #f8235b;
  --light-red: rgba(248, 35, 91, 0.5);

  --purple: #fe33d1;
  --light-purple: rgba(254, 51, 209, 0.5);

  --orange: #fb740b;
  --light-orange: rgba(251, 116, 11, 0.5);

  --gray: #1c1d1d;
  --gray-light: #414242;

  /* default main color（主視覺顏色） */
  --main-color: var(--yellow);
  --main-light-color: var(--light-yellow);

  /* gradient */
  --black-gray-radial: radial-gradient(
    86.64% 87.21% at 14.72% 0%,
    #414242 0%,
    #0a0a0b 100%
  );
  --black-gray-linear: linear-gradient(
    171.99deg,
    #323232 10.16%,
    #0a0a0b 71.59%
  );

  /* box-shadow */
  --shadow-button: 0px 0px 6px var(--main-color), 0px 0px 2px var(--main-color);
  --shadow-line: 0px 0px 5px #1cc8ee;
  --shadow-header: 0px 4px 5px rgba(0, 0, 0, 0.5);
}
